/* ----------------------------------
 * Status
 * ---------------------------------- */
section[role="status"] {
  background: rgba(64,64,64,1) url(status/images/ui/pattern.png) repeat left top;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: left;
}

section[role="status"] p {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1rem;
  margin: 3rem 5rem;
  padding: 0;
  text-align: center;
}

section[role="status"] p strong {
  font-weight: 500;
}

/*
 * Right to Left View
 */

html[dir="rtl"] section[role="status"],
html[dir="rtl"] section[role="status"] p {
  text-align: right;
}

